@import './../../mixins.scss';

.sign-in {
  min-height: 75vh;
  padding: 35px;
  grid-column: 2 / 4;

  padding-top: 100px;

  display: flex;
  justify-content: center;

  .sign-in__button {
    @include appButton(35px);

    width: 220px;
    height: 90px;
    padding: 10px;
  }
}
