@import './../../mixins.scss';

.sign-in {
  @include mainContent;

  padding-top: 100px;
  display: flex;
  justify-content: center;

  .sign-in__button {
    @include appButton(35px);

    width: 220px;
    height: 90px;
    padding: 10px;
  }
}

@media (max-width: 995px) {
  .sign-in {
    padding-top: 20px;
    grid-column-start: 1;
  }
}

@media (max-width: 796px) {
  .sign-in {
    .sign-in__button {
      width: 180px;
      height: 80px;
      font-size: 30px;
    }
  }
}

@media (max-width: 497px) {
  .sign-in {
    .sign-in__button {
      width: 150px;
      height: 65px;
      font-size: 27px;
    }
  }
}
