@import './../../mixins.scss';

.notes-header {
  min-height: 260px;
  position: relative;
  grid-column: 2 / 4;
  padding: 35px;

  .notes-header__greetings {
    font-size: 49px;
    margin: 45px 0 0;
  }

  .notes-header__form {
    min-height: 70px;
    display: flex;
    gap: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;

    .search-icon {
      width: 30px;
      height: 30px;
      display: inline;
      vertical-align: middle;
      align-self: center;
      color: #bdbdbd;
      margin-left: 15px;
    }

    .notes-header__form__input {
      width: 100%;
      padding: 5px;
      min-height: 45px;
      font-size: 27px;
      border: none;
      outline-color: transparent;
    }

    .notes-header__form__button {
      @include appButton(27px);

      width: 150px;
      margin-left: auto;
    }
  }
}

@media (max-width: 1429px) {
  .notes-header__form {
    .search-icon {
      margin-left: 8px;
    }
  }
}

@media (max-width: 995px) {
  .notes-header {
    grid-column-start: 1;
    padding: 20px;
  }
}

@media (max-width: 796px) {
  .notes-header {
    min-height: 210px;

    .notes-header__greetings {
      font-size: 45px;
      margin: 35px 0 0;
    }

    .notes-header__form {
      min-height: 55px;

      .notes-header__form__input,
      .notes-header__form__button {
        font-size: 23px;
      }
    }
  }
}

@media (max-width: 650px) {
  .notes-header {
    min-height: 180px;
    padding: 10px;
  }
}

@media (max-width: 497px) {
  .notes-header {
    min-height: 150px;

    .notes-header__greetings {
      margin: 20px 0 0;
      font-size: 35px;
    }

    .notes-header__form {
      min-height: 45px;

      .notes-header__form__input,
      .notes-header__form__button {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 375px) {
  .notes-header {
    min-height: 130px;
    .notes-header__greetings {
      font-size: 30px;
    }
  }
}
