@import './../../mixins.scss';

.modal-form-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 15px;
  margin-bottom: 15px;

  .modal-form-name__input {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 7px;
    outline-color: #bdbdbd;
    min-height: 60px;
    font-size: 22px;
    padding: 10px;
  }

  .modal-form-name__button {
    @include appButton(22px, 10px);

    width: 100%;
    min-height: 60px;
    padding: 10px;
    margin-left: auto;
  }
}
