@import './../../mixins.scss';

.notes-list {
  min-height: 75vh;
  padding: 35px 0;
  grid-column: 2 / 4;

  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;

  .notes-note {
    width: 350px;
    height: 350px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    padding: 30px;
    position: relative;

    .notes-note__favorite-button {
      @include noteButton;

      top: 19px;
    }

    .notes-note__favorite-button_visibility {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    .star-icon,
    .pen-icon {
      color: #e3d7ff;
    }

    .notes-note__edit-button {
      @include noteButton;

      bottom: 19px;
    }

    .notes-note__name {
      max-width: 230px;
      min-height: 35px;
      font-size: 28px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 25px;
    }

    .notes-note__text {
      display: -webkit-box; // display: flex
      -webkit-line-clamp: 6; // количество строк
      -webkit-box-orient: vertical; // flex-direction: column
      overflow: hidden;
      white-space: pre-wrap;

      max-height: 180px;
      margin-bottom: 25px;
      font-size: 20px;
      line-height: 1.5;
      cursor: pointer;
    }

    .notes-note__date {
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-size: 18px;
      font-style: italic;
    }
  }
}
