@import './../../mixins.scss';

.notes-sidebar {
  position: absolute;
  grid-column: 1 / 2;
  min-width: 250px;
  height: inherit;

  border-right: 1px solid #bdbdbd;
  padding: 35px;
  text-align: center;

  .notes-app-name {
    font-size: 41px;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .notes-sidebar__favorite-button {
    @include appButtonCircle;
    @include appButton(_, 50%);
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .notes-sidebar__color-button {
    @include appButtonCircle;
    @include appButton(35px, 50%);

    margin-bottom: 30px;
  }

  .notes-sidebar__colors {
    text-align: center;
  }

  .notes-sidebar__colors-item {
    display: block;
    margin: 0 auto 30px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline-color: transparent;
  }

  .notes-sidebar__favorite-button_active,
  .notes-sidebar__color-button_active {
    background-color: #fff;
    border: 2px solid #996dff;
  }
}
